* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

nav ul {
    display: flex;
    list-style: none;

    text-transform: uppercase;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
}

nav ul li {
    padding-left: 20px;
}

nav ul li a:link,
nav ul li a:visited {
    color: #222;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:focus {
    color: red;
    text-decoration: none;
}

#shot img {
    border-radius: 5px;
}

#shot {
    padding: 0 2em;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "img1 img1 img1 img1 img1 img1"
    "img2 img2 img3 img3 img4 img4"
    ;
}

#shot img:nth-child(1) {
    grid-area: img1;
}

#shot img:nth-child(2) {
    grid-area: img2;
}

#shot img:nth-child(3) {
    grid-area: img3;
}

#shot img:nth-child(4) {
    grid-area: img4;
}

.container {
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
}

h1 {
    font-size: 2.027rem;
    font-weight: 500;

    /* margin-top: 0;
    margin-bottom: 0; */
}

h1 + p {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

#limited + p {
    margin-top: 0;
}

/* - how to create button without using inline-block? */

.container a:link,
.container a:visited {
    display: inline-block;
    padding: .5em 1em;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;

    margin-top: auto;
}

.container a:hover,
.container a:focus {
    background-color: #fff;
    color: #414361;
}

#behind {
    background-color: #f8fafc;
    padding: 1em 2em;
}

.wrapper h2 {
    font-size: 1.802rem;
    text-align: center;
    font-weight: 800;
}

blockquote {
    margin: 0;
}

#reviews {
    background-color: #000;
    color: #fff;
    padding: 1em 2em 3em;
}

#products {
    padding: 1em 2em 2em;
}

h3 {
    font-size: 1.266rem;
    text-align: center;
    font-weight: 800;
}

#flavours img {
    border-radius: 10px 10px 0 0;
}

#flavours p {
    text-align: center;
}

#flavours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#flavours div {
    background-color: #f8fafc;
    border-radius: 0 0 10px 10px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 1em 2em;
    text-align: center;
}

@media (min-width: 768px){
    /* body {
        background-color: lightseagreen;
    } */
    
    /* .wrapper {
        max-width: 1200px;
        margin: auto 0;
    } */
    
    #shot {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        ;
    }
    #shot img:nth-child(1) {
        grid-area: img1;
    }

    #shot img:nth-child(2) {
        grid-area: img2;
    }

    #shot img:nth-child(3) {
        grid-area: img3;
    }

    #shot img:nth-child(4) {
        grid-area: img4;
    }
        
    .paragraph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .quote {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: start;
        gap: 40px;
    }

    #flavours {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}

@media (min-width: 960px){
    /* body {
        background-color: lightseagreen;
    } */
    
    /* .wrapper {
        max-width: 1200px;
        margin: auto 0;
    } */
    
    .grid .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #shot {
        padding-right: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        ;
    }
    #shot img:nth-child(1) {
        grid-area: img1;
    }

    #shot img:nth-child(2) {
        grid-area: img2;
    }

    #shot img:nth-child(3) {
        grid-area: img3;
    }

    #shot img:nth-child(4) {
        grid-area: img4;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .container {
        padding-top: 0;
    }
    
    .paragraph {
        gap: 30px;
    }
}

@media (min-width: 1000px){
    #shot {
        padding-bottom: 2em;
    }
}